<!DOCTYPE html>
<html> 

<head> 
        <title>Home Page</title> 
        
        <style type="text/css" media="screen">
                body {
                        background-color: skyblue;
                        text-decoration-color: white;
                }
        </style> 
</head> 

<body> 
        <h1>Add a new field</h1>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title"><br><br>
        <label for="tags">Tags:</label>
        <input type="text" name="tags[]">
        <input type="text" name="tags[]">
        <input type="text" name="tags[]"><br><br>
        <label for="url">URL:</label>
        <input type="text" id="url" name="url"><br><br>
        <label for="category">Category:</label>
        <input type="text" id="category" name="category"><br><br>
        <label for="name">Speaker Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="s-title">Speaker Title:</label>
        <input type="text" id="s-title" name="s-title"><br><br>
        <label for="location">Speaker Lcation:</label>
        <input type="text" id="location" name="location"><br><br>
        <input type="button" class="submit-button" value="Submit">

        <h1>Upvote a video</h1>
        <label for="id">Enter ID:</label>
        <input type="text" id="id" name="id"><br><br>
        <input type="button" class="submit-id" value="Submit">
</body>
<script src="index.js"></script>

</html> 

